doctype html
head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    style.
        body {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            font-size: 1.5rem;
        }
        .container {
            position: relative;
            max-width: 100vw;
            max-height: 100dvh;
            margin: auto;
            border: 2px solid #F0FF00;
            padding: 2rem;
            width: 20rem;
        }
        h2 {
            font-size: 2rem;
        }
        label {
            font-size: 1.2rem;
        }
        input {
            font-size: 1rem;
            padding: 0.5rem;
            width: 100%;
            box-sizing: border-box;
        }
        button {
            font-size: 1rem;
            padding: 0.8rem;
        }
body
    div(class="container")
        // TODO: make a logo for it insted of h2
        h2= appTitle 
        
        div
            form(autocomplete="off")
                div
                    div
                        label(for="shorten-url")
                            span Shorten an URL
                    div
                        input(id="shorten-url", autocomplete="shorten-url", name="shorten-url", type="text", placeholder="Enter long link here")
                div
                    button(type="submit") Shorten URL
                
